.editor-wrapper {
    width: 100%;
    height: 50vh;
    /* Ocupa toda la altura de la ventana */
    display: flex;
    flex-direction: column;
}

ngx-monaco-editor {
    width: 100%;
    height: 100%;
    flex: 1;
}